.grid-layout.grid-layout2.margin-top50
  .grid-item
    %h2.margin-top0 Resources
    %ul
    %li
      <a href="https://page.gitlab.com/resources-report-gartner-market-guide-vsdp.html">Gartner: Market Guide for DevOps Value Stream Delivery Platforms</a>
    %li
      <a href="https://about.gitlab.com/customers/glympse/">Glympse</a>: Consolidating 20 tools into GitLab
    %li
      <a href="https://about.gitlab.com/customers/bi_worldwide/">BI Worldwide</a>: Leveraging a single platform to secure their code
  .grid-item
    %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/gzYTZhJlHoI", :width => "560"}
%hr.divider
