.column.advantage.padding-vertical60.padding-left20.padding-right40
  .title
    A single application for the DevOps lifecycle

  .row
    .column.item
      = image_tag "/images/solutions/icon_data-doc.svg", width: "100px"
      .title
        Work more efficiently
      .description
        Identify blockers and address them immediately, in a single tool.

    .column.item
      = image_tag "/images/solutions/icon_scale.svg", width: "100px"
      .title
        Deliver better software faster
      .description
        Focus on delivering value—not maintaining integrations.

    .column.item
      = image_tag "/images/solutions/icon_sheild-check.svg", width: "100px"
      .title
        Reduce risk and cost.
      .description
        Automate security and compliance without compromising speed or spend.

