%meta{charset: "UTF-8"}
%meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
%meta{"http-equiv": "Content-Security-Policy", content: "default-src 'self' https: http:; script-src 'self' 'unsafe-inline' 'unsafe-eval' https: http:; style-src 'self' 'unsafe-inline' https: http:; object-src https: http:; base-uri 'self'; connect-src 'self' https: http: wss: ws:; frame-src 'self' https: http:; img-src 'self' https: http: data:; manifest-src 'self'; media-src 'self' https: http:; worker-src 'self' https: http:;"}

- currentPageLayout = current_page.options[:layout].to_s
- currentPageManualCookiebot = current_page.data.manual_cookiebot

- if currentPageLayout == "handbook-page-toc" || currentPageLayout == "markdown_page"
  %script{id: "mermaidscriptsource", src: "/javascripts/libs/mermaid.min.js", async: "false", defer: "false", type: "text/javascript", "data-cookieconsent": "ignore"}

- unless current_page.data.oneTrustTest == true
  - if currentPageLayout != "job_family_page"
    - if currentPageManualCookiebot != true
      -# this is NOT a job family page NOR set to manual cookiebot, therefore use auto mode
      %script#Cookiebot{"data-cbid" => "36a06ac5-ddb4-4f91-8337-067ad19ad8d5", :src => "https://consent.cookiebot.com/uc.js", "data-blockingmode" => "auto", "data-georegions" => "{'region':'US-06','cbid':'c2c1d015-6fa2-487d-aaf3-3a961d8a1984'}", :type => "text/javascript", "data-bl" => "j-no-m-no"}
    - else
      -# this is NOT a job family page BUT it IS set to manual cookiebot, therefore use manual mode.
      %script#Cookiebot{:async => "", "data-cbid" => "36a06ac5-ddb4-4f91-8337-067ad19ad8d5", :src => "https://consent.cookiebot.com/uc.js", "data-georegions" => "{'region':'US-06','cbid':'c2c1d015-6fa2-487d-aaf3-3a961d8a1984'}", :type => "text/javascript", "data-bl" => "j-no-m-yes"}
  - else
    -# this IS a job family page
    %script#Cookiebot{:async => "", "data-cbid" => "36a06ac5-ddb4-4f91-8337-067ad19ad8d5", :src => "https://consent.cookiebot.com/uc.js", "data-georegions" => "{'region':'US-06','cbid':'c2c1d015-6fa2-487d-aaf3-3a961d8a1984'}", :type => "text/javascript", "data-bl" => "j-yes"}

- if current_page.data.oneTrustTest == true
  %script{src: "https://cdn.cookielaw.org/consent/f7036c5e-8753-4d82-8947-a0bef44606e5-test/OtAutoBlock.js"}
  %script{src: "https://cdn.cookielaw.org/scripttemplates/otSDKStub.js", type: "text/javascript", charset: "UTF-8", "data-domain-script": "f7036c5e-8753-4d82-8947-a0bef44606e5-test"}
  %script{type: "text/javascript"}
    function OptanonWrapper() { }

// Creates a dataLayer above GTM tag
%script{ type: "text/javascript"}
  window.dataLayer = window.dataLayer || []

%script document.documentElement.className = 'html--js'

-if current_page.data.schema_org
  %script{ type: "application/ld+json"} 
    {"@context":"http://schema.org","@type":"Organization","name":"GitLab","legalName":"GitLab Inc.","url":"https://about.gitlab.com","logo":"https://gitlab.com/gitlab-com/gitlab-artwork/raw/master/logo/logo.png","foundingDate":"2011","founders":[{"@type":"Person","name":"Sid Sijbrandij"},{"@type":"Person","name":"Dmitriy Zaporozhets"}],"address":{"@type":"PostalAddress","streetAddress":"268 Bush Street #350","addressLocality":"San Francisco","addressRegion":"CA","postalCode":"94104","addressCountry":"USA"},"sameAs":["https://www.facebook.com/gitlab","https://twitter.com/gitlab","https://www.linkedin.com/company/gitlab-com","https://www.youtube.com/channel/UCnMGQ8QHMAnVIsI3xJrihhg"]}

%script{:async => "", :src => "//cdn.bizible.com/scripts/bizible.js", :type => "text/javascript"}

-if current_page.data.google_optimize

  -# Google Optimize anti-flash snippet - CSS for .async-hide located in _base.css file
  %script{ type: "text/javascript" }
    (function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;h.start=1*new Date;
    h.end=i=function(){s.className=s.className.replace(RegExp(' ?'+y),'')};
    (a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);h.timeout=c;
    })(window,document.documentElement,'async-hide','dataLayer',1000,
    {'GTM-WC3ZR2P':true});
  -# End Google Optimize anti-flash

-# Google Optimize + GA snippet
%script{ type: "text/javascript" }
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-37019925-1', 'auto', {allowLinker: true});
  ga('require', 'GTM-WC3ZR2P');

-# Google Tag Manager
%script{ type: "text/javascript" }
  (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-NJXWQL');
-# End Google Tag Manager

-# highlight-tooltip Popper
- if currentPageLayout == "handbook-page-toc"
  = partial "includes/highlight_tooltip_head"
-# End highlight-tooltip Popper

-if current_page.data.campaign
  %script
    dataLayer.push({'campaign': '#{current_page.data.campaign}'});

- if current_page.data.noindex
  %meta{ name: "robots", content: "noindex, follow" }
- else
  %meta{ name: "robots", content: "index, follow" }

%script{ "data-cookieconsent": "ignore"}
  -# search functionality
  (function(w,d,t,u,n,s,e){w['SwiftypeObject']=n;w[n]=w[n]||function(){
  (w[n].q=w[n].q||[]).push(arguments);};s=d.createElement(t);
  e=d.getElementsByTagName(t)[0];s.async=1;s.src=u;e.parentNode.insertBefore(s,e);
  })(window,document,'script','//s.swiftypecdn.com/install/v2/st.js','_st');
  - if current_page.request_path.start_with?('handbook')
    -# Handbook search
    _st('install','DTF81Pizm7yGQpgXcrMP','2.0.0');
  - elsif current_page.request_path.start_with?('company')
    -# Handbook search
    _st('install','DTF81Pizm7yGQpgXcrMP','2.0.0');
  - elsif current_page.request_path.start_with?('blog')
    -# Blog search
    _st('install','5geYbhTxNzL5dsekC-B-','2.0.0');
  - else
    -# Default search
    _st('install','Z4n7msKyctXXfJs66EKx','2.0.0');

-#unique titles to categorie pages
- if current_page.request_path.start_with?('blog/categories')
  - title = categories.to_s.camelize + ' blog category, page ' + page_number.to_s + ' of ' + num_pages.to_s
  %title #{title}
- elsif current_page.data.window_title
  %title #{current_page.data.window_title}
- else
  %title
    -
    #{current_page.data.title ? current_page.data.title : yield_content(:title)}
    \|
    = data.site.title

= partial "includes/layout/meta"

%link{rel: "alternate", type: "application/atom+xml", title: "Blog", href: "/atom.xml"}
%link{rel: "alternate", type: "application/atom+xml", title: "All Releases", href: "/all-releases.xml"}
%link{rel: "alternate", type: "application/atom+xml", title: "Security Releases", href: "/security-releases.xml"}
%link{rel: "alternate", type: "application/atom+xml", title: "Major Releases", href: "/releases.xml"}

- if current_page.data.hreflang_value
  -# hardcoding these for now until we get a more flexible solution in place
  %link{rel: "alternate", hreflang: "x-default", href: "https://about.gitlab.com/"}
  %link{rel: "alternate", hreflang: "ja-jp", href: "https://about.gitlab.com/ja-jp/"}
  %link{rel: "alternate", hreflang: "fr-fr", href: "https://about.gitlab.com/fr-fr/"}
  %link{rel: "alternate", hreflang: "fr", href: "https://about.gitlab.com/fr-fr/"}
  %link{rel: "alternate", hreflang: "de-de", href: "https://about.gitlab.com/de-de/"}
  %link{rel: "alternate", hreflang: "de", href: "https://about.gitlab.com/de-de/"}

- if currentPageLayout == "handbook-page-toc"
  %link{href: "/ico/handbook/favicon.ico", rel: "shortcut icon"}
  %link{href: "/ico/handbook/favicon-192x192.png", rel: "icon", sizes: "192x192", type: "image/png"}
  %link{href: "/ico/handbook/favicon-160x160.png", rel: "icon", sizes: "160x160", type: "image/png"}
  %link{href: "/ico/handbook/favicon-96x96.png", rel: "icon", sizes: "96x96", type: "image/png"}
  %link{href: "/ico/handbook/favicon-16x16.png", rel: "icon", sizes: "16x16", type: "image/png"}
  %link{href: "/ico/handbook/favicon-32x32.png", rel: "icon", sizes: "32x32", type: "image/png"}
- else
  %link{href: "/ico/favicon.ico", rel: "shortcut icon"}
  %link{href: "/ico/favicon-192x192.png", rel: "icon", sizes: "192x192", type: "image/png"}
  %link{href: "/ico/favicon-160x160.png", rel: "icon", sizes: "160x160", type: "image/png"}
  %link{href: "/ico/favicon-96x96.png", rel: "icon", sizes: "96x96", type: "image/png"}
  %link{href: "/ico/favicon-16x16.png", rel: "icon", sizes: "16x16", type: "image/png"}
  %link{href: "/ico/favicon-32x32.png", rel: "icon", sizes: "32x32", type: "image/png"}

%link{href: "/ico/apple-touch-icon-57x57.png", rel: "apple-touch-icon", sizes: "57x57"}
%link{href: "/ico/apple-touch-icon-114x114.png", rel: "apple-touch-icon", sizes: "114x114"}
%link{href: "/ico/apple-touch-icon-72x72.png", rel: "apple-touch-icon", sizes: "72x72"}
%link{href: "/ico/apple-touch-icon-144x144.png", rel: "apple-touch-icon", sizes: "144x144"}
%link{href: "/ico/apple-touch-icon-60x60.png", rel: "apple-touch-icon", sizes: "60x60"}
%link{href: "/ico/apple-touch-icon-120x120.png", rel: "apple-touch-icon", sizes: "120x120"}
%link{href: "/ico/apple-touch-icon-76x76.png", rel: "apple-touch-icon", sizes: "76x76"}
%link{href: "/ico/apple-touch-icon-152x152.png", rel: "apple-touch-icon", sizes: "152x152"}
%link{href: "/ico/apple-touch-icon-180x180.png", rel: "apple-touch-icon", sizes: "180x180"}
%meta{content: "#554488", name: "msapplication-TileColor"}
%meta{content: "/ico/mstile-144x144.png", name: "msapplication-TileImage"}
%meta{content: "/ico/browserconfig.xml", name: "msapplication-config"}

- if current_page.data.canonical_path
  %link{ :rel => "canonical", :href => "https://about.gitlab.com#{current_page.data.canonical_path}"}

-if  current_page.data.clusterType
  %script
    dataLayer.push({'clusterType': '#{current_page.data.clusterType}'})

%link{rel: "stylesheet", href: font_url(current_page)}
- unless (current_page.data.disable_fontawesome == true)
  %link{:crossorigin => "anonymous", :href => "https://use.fontawesome.com/releases/v5.1.0/css/all.css", :integrity => "sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt", :rel => "stylesheet"}
- unless (current_page.data.disable_tinyslider == true)
  %link{rel: "stylesheet", href: "https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.8.7/tiny-slider.css"}

= stylesheet_link_tag :disable_animations if environment?(:test)
- unless (current_page.data.disable_default_styles == true)
  = stylesheet_link_tag :styles, :highlight
- if current_page.data.extra_css
  - current_page.data.extra_css.each do |css_name|
    = stylesheet_link_tag css_name

- if current_page.data.slippers
  %script{src: "/javascripts/slippers.js", type: "text/javascript", "data-cookieconsent": "ignore"}
- if current_page.data.slippers_preflight
  = stylesheet_link_tag 'slippers-preflight.css'
= stylesheet_link_tag 'slippers.css'
